<div class="col-12">
    <div class="card social-card">
        <div class="card-body text-center">
            <h2 class="text-facebook mb-20"><i class="ik ik-truck"></i></h2>
            <h3 class="text-facebook fw-700">Entregas</h3>
            <hr class="my-4 rgba-white-light">
            <div class="nav pt-2 justify-content-center">
                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="btn btn-outline-primary btn-lg mr-3" data-toggle='tab' href="#Pending">Pendentes</a>
                    <a class="btn btn-outline-primary btn-lg" data-toggle='tab' href="#Delivered">Finalizados</a>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="tab-content">
    <div class="tab-pane" role='tabpanel' id='Pending'>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" action="Motorista/View" method="POST">
                        <table class="table table-hover mt-4">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Entrega</th>
                                    <th>Situação</th>
                                    <th class="nosort">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each Production}}
                                {{#compare Status.Status 'F'}}
                                <tr>
                                    {{#each Client}}
                                    <td>{{Name}}</td>
                                    {{/each}}
                                    <td>{{formatTime DeliveryDate "DD-MM-YYYY"}}</td>
                                    <td>Pendente</td>

                                    <td>

                                        <div class="table-actions">

                                            <button type="submit" class="btn btn-icon btn-primary" name='id'
                                                value='{{_id}}'><i class="ik ik-eye"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                {{/compare}}
                                {{else}}
                                <tr>
                                    <th class="text-center" colspan="4">Sem dados</th>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" role='tabpanel' id='Delivered'>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover mt-4">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Cliente</th>
                                <th scope="col" style="width: 20%;">Entrega</th>
                                <th scope="col" style="width: 10%;">Situação</th>
                                <th scope="col" style="width: 5%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each Production}}
                            {{#compare Status.Status 'E'}}
                            <tr>
                                {{#each Client}}
                                <td>{{Name}}</td>
                                {{/each}}
                                <td>{{formatTime DeliveryDate "DD-MM-YYYY"}}</td>
                                <td>Entregue</td>
                                <td>
                                    <i class="fas fa-check text-success"></i>
                                </td>
                            </tr>
                            {{/compare}}
                            {{else}}
                            <tr>
                                <th class="text-center" colspan="5">Sem Dados</th>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>